.wrapper {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: auto auto auto;
  max-width: 1200px;
  margin: auto;
}

.a {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.b {
  grid-column: 3 ;
  grid-row: 1;
}

.c {
  grid-column: 1 / span 2 ;
  grid-row: 2 ;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
}

.d {
  grid-column: 3;
  grid-row: 2 ;
}

.e {
  grid-column: 1 / span 2;
  grid-row: 3;
}

.f {
  grid-column:3;
  grid-row: 3;
}


* {
	box-sizing: border-box;
}

.column {
	float: left;
	width: 33.33%;
	padding: 5px;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}
