.wrapper {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: auto auto;
  grid-template-areas: 
  'gr-project gr-crowdfunding'
  'gr-text gr-nieuws'
  'gr-area1 gr-area2';
  max-width: 1200px;
  margin: auto;
}

@media (max-width: 700px) {
  .wrapper {

    grid-template-areas:
        'gr-text'
        'gr-project'
        'gr-crowdfunding'
        'gr-nieuws'
        'gr-area1'
        'gr-area2';
        
    padding: 10px;
  }
  
}

.project {
  grid-area: gr-project;
}

.crowdfunding {
  grid-area: gr-crowdfunding;
}

.text {
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  grid-area: gr-text;
}

.nieuws {
  grid-area: gr-nieuws;
}

.area1 {
  grid-area: gr-area1;
}

.area2 {
  grid-area: gr-area2;
}


* {
	box-sizing: border-box;
}

.column {
	float: left;
	width: 33.33%;
	padding: 5px;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}
.video{
  width: 100%;
}
