
.wrapper {
    display: grid;
    grid-gap: 0px;
    grid-template-areas:
      'gr-title .'
      'gr-times gr-location'
      'gr-feedback gr-philosophy';
    max-width: 1200px;
    margin: auto;
}

/* Display for smaller screens */
@media (max-width: 700px) {
  .wrapper {

    grid-template-areas:
      'gr-title'
      'gr-times'
      'gr-location'
      'gr-philosophy'
      'gr-feedback';

    padding: 10px;
  }

  .box {
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
  }

}

.title {
  grid-area: gr-title;
}

.times {
  grid-area: gr-times;
}

.location {
  grid-area: gr-location;
}

.feedback {
  grid-area: gr-feedback;
}

.philosophy {
  grid-area: gr-philosophy;
}
