body{
  font-family: "Trebuchet MS","trebuchet","Helvetica",Sans-Serif !important;
  background-color: var(--bg-color);
  color: var(--font-color);
  margin: 0;
}

/*code for the darkmode*/
:root {
    --primary-color: black;
    --secondary-color: black;
    --font-color: black;
    --bg-color: whitesmoke;
    --heading-color: white;
    --planning: lightgray;
}

[data-theme="dark"] {
    --primary-color: whitesmoke;
    --secondary-color: whitesmoke;
    --font-color: whitesmoke;
    --bg-color: #161625;
    --heading-color: whitesmoke;
    --planning: dimgray;
}
/* darkmode end*/

/*-- round fotos --*/
.img-round {
  border-radius: 40%;
  float: left;
}

a:link {
  color: var(--primary-color);
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

a:active {
  text-decoration: underline;
  color: var(--primary-color);
}

li {
  float: left;
}

.bug-fix{
  text-align: left;
}