
  body {
    font-family: sans-serif;
    background-color:whitesmoke;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .block {
    width: 100%;
  }
  
  
  .content {
    width: 100%;
    box-shadow: 1px 1px 2px 2px rgba(216, 216, 216, 0.5);
    border-width: 1px 1px 1px 1px;
    color: white;
    margin-top: 100px;
    height: auto;
    background-color: #fafafa;
    position: relative;
    background-color: #00cd86;
    border-radius: 5px;
    margin-bottom: 50px;
  }
  
  
  p.main-text {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    line-height: 1.6em;
    word-spacing: 0.3em;
    color: rgb(75, 75, 75);
    font-size: 16px;
  }
  
  
  .percent {
    margin-top: 7px;
  }
  
  .modal-text-bigger {
    font-size: 26px;
    color: white;
    margin-bottom: 10px;
    font-weight: bold;
    grid-area: big ;
  }
  
  .count {
    font-weight: bold;
  }
  
  
  .number-of-question-text {
    margin-bottom: 20px;
    color: white;
    font-weight: bold;

  }
  
  .number-of-question-text::after {
    content: "";
    display: block;
    width: 100%;
    border: 1px solid rgb(230, 230, 230);
    margin-top: 15px;
  
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 70px 40px;
    margin: 70px 15px;
  
  }
  
  #question-container {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  
  #question {
    font-size: 18px;
    margin-bottom: 50px;
    font-weight: bold;
    line-height: 27px;
    color:white;
  }
  
  .btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    border: 1px solid white;
    padding: 15px 15px;
    width: 100%;
    cursor: pointer;
    background-color: transparent;
    font-size: 14px;
    border-radius: 5px;
    line-height: 21px;
    text-align: left;
    color:white;
    font-weight: bold;
  }
  
  .btn:hover {
    background-color: white;
    color: black;
    font-weight: bold;
  }
  
  .btn:not(:first-child) {
    margin-top: 25px;
  }
  
  .btn.correct {
    background-color: rgb(0, 126, 48);
    color: #ffffff;
    font-weight: bold;
  }
  
  .btn.wrong {
    background-color: rgb(197, 59, 59);
    color: #ffffff;
    font-weight: bold;
  }
  
  /*Prevent multiclicking the buttons*/
  .no-click {pointer-events: none;}
  
  .controls {
    margin: 20 auto;
    display: flex;
    justify-content: center;
  }
  
  .start-btn, .next-btn {
    font-size: 18px;
    color: white;
    padding: 15px 40px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    height: 100px;
    width: 200px;
  }
  
  .start-btn:hover, .next-btn:hover {
    color: black;
    border-color: white;
    background-color: white;
    font-weight: bold;
  }
  
  .hide {
    display: none;
  }
  
  
  @media screen and (min-width:700px){
    body {
        font-size: 1em;
    }
  
    .logo {
        display: block;
        width: 25%;
    }
  
    .info {
        width: 75%;
    }
  
    .menu {
        width: 25%;
    }
  
    .content {
        width: 100%;
    }
    
  
  
    p.main-text {
        font-size: 1.0em;
        padding-left: 70px;
        padding-right: 70px;
        padding-top: 10px;
  
    }
  
  
    p.theme {
        font-size: 1.1em;
        margin-top: 50px;
        padding-left: 70px;
        padding-right: 70px;
        padding-bottom: 5px;
    }
  
    .footer {
        margin-top: 80px;
    }
  
  
    .just-image {
        display: block;
        margin-top: 30px;
        margin-left: 70px;
        margin-right: 70px;
    }
  
    .image-sign {
        margin-bottom: 30px;
    }
  
    .test-list {
      margin: 70px 40px;
    }
  
    .wrapper {
      margin: 70px 40px;
    }
  
    .btn {
      font-size: 16px;
    }
  
    #question {
      font-size: 21px;
    }
  
  }
  
  
  @media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
  }
    .result{
        grid-template-areas: 
        '. big . '
        '. small.';
        grid-template-columns: 40% 20% 40%;
       
    }
    .modal-text{
        grid-area: small;
    }