.video {
  background-color: var(--planning);
  border: 3px solid #00cd86;
}

.wrapper{
  grid-gap: 10px;
  display: grid;
  grid-template-areas:
  '  text text text   ' 
  '  Camyre Karin Rianne  '
  '  Rosalie Mascha Marion  '
  '  Femke Indy Ariane   '
  '  Christel . .   '
  ' . . . ';
  max-width: 1200px;
  margin: auto;
}

.Camyre{
  color:red;
  grid-area: Camyre;
}

Karin{
  grid-area: Karin;
  
}
Rianne{
  grid-area: Rianne;
  
}
Rosalie{
  grid-area: Rosalie;
  
}
Mascha{
  grid-area: Mascha;
}

text-block{
  grid-area: text;
  text-align: center;
}



/* Display for smaller screens */
@media (max-width: 700px) {
  .wrapper {
    grid-template-areas:
    'text'
    'Camyre'
    'Karin'
    'Rianne'
    'Rosalie'
    'Mascha'
    'Marion'
    'Femke'
    'Indy'
    'Ariane'
    'Christel'
    '.'
    '.'
    '.'
    '.';
    grid-template-rows: auto;
  }
}

.video{
  width: 100%;
}
