.wrapper {
        display: grid;
        grid-gap: 0px;
        grid-template-columns: auto auto auto;
        width: 1200px;
        margin: auto;
    }

    .box {
        border-radius: 5px;
        padding: 20px;
        font-size: 150%;
        background-color: gray;   
    }

    .a {
        grid-column: 1 / span 2;
        grid-row: 1;
    }
    .b {
        grid-column: 3 ;
        grid-row: 1;
    }
    .c {
        grid-column: 1 / span 2 ;
        grid-row: 2 ;
    }
    .d {
        grid-column: 3;
        grid-row: 2 ;
    }
    .e{
      grid-column: 1 / span 2;
      grid-row: 3;
    }
    .f{
      grid-column:3;
      grid-row: 3;
    }