.wrapper {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: auto auto;
  grid-template-areas: 
  'gr-springhigh gr-video1'
  'gr-video2 gr-voorJou'
  'gr-begeleiding gr-groep8'
  'gr-wiskunde gr-wiskunde';
  max-width: 1200px;
  margin: auto;
}

@media (max-width: 700px) {
  .wrapper {

    grid-template-areas:
        'gr-springhigh'
        'gr-video1'
        'gr-voorJou'
        'gr-video2'
        'gr-begeleiding'
        'gr-groep8';
        
    padding: 10px;
  }
  
  .wiskunde{
    display: none;
  }

}

.springhigh {
  grid-area: gr-springhigh;
}

.video1 {
  grid-area: gr-video1;
}

.video2 {
  grid-area: gr-video2;
}

.voorJou {
  grid-area: gr-voorJou;
}

.begeleiding {
  grid-area: gr-begeleiding;
}

.groep8 {
  grid-area: gr-groep8;
}

.wiskunde {
  grid-area: gr-wiskunde;
}

.video{
  width: 100%;
}


