
.wrapper{
  grid-gap: 10px;
  display: grid;
  grid-template-areas: 
  ' Title Title . '
  ' Curriculum Foto Foto '
  ' Ontewikkeling Samenleving Samenleving  '
  ' . Persoonsvorming Persoonsvorming ';
  max-width: 1200px;
  margin: auto;
}

.Title{
  grid-area: Title;
}  

.Curriculum{
  grid-area: Curriculum;
}

.Foto{
  grid-area: Foto;
}

.Ontewikkeling{
  grid-area: Ontwikkeling;
}

.Samenleving{
  grid-area: Samenleving;
}

.Persoonsvorming{
  grid-area: Persoonsvorming;
}