
.wrapper {
  grid-gap: 10px;
  display: grid;
  grid-template-areas: 
  ' gr-title gr-title . '
  ' gr-curriculum gr-foto gr-foto '
  ' gr-ontwikkeling gr-samenleving gr-samenleving  '
  ' . gr-persoonsvorming gr-persoonsvorming ';
  max-width: 1200px; 
  margin: auto; 
}

/* Display for smaller screens */
@media (max-width: 700px) {
  .wrapper {

    grid-template-areas:
        'gr-curriculum'
        'gr-ontwikkeling'
        'gr-foto'
        'gr-samenleving'
        'gr-persoonsvorming';
    padding: 10px;
  }

  .title {
    display: none;
  }

}

.title {
  grid-area: gr-title;
}  

.curriculum {
  grid-area: gr-curriculum;
}

.foto {
  grid-area: gr-foto;
}

.ontwikkeling {
  grid-area: gr-ontwikkeling;
}

.samenleving {
  grid-area: gr-samenleving;
}

.persoonsvorming {
  grid-area: gr-persoonsvorming;
}

.exam {
  width: 100%;
}