*, *::before, *::after {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  :root {
    --hue-neutral: 147;
    --hue-wrong: 0;
    --hue-correct: 147;
  }
  
  body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: hsl(var(--hue), 100%, 20%);
  }
  
  body.correct {
    --hue: var(--hue-correct);
  }
  
  body.wrong {
    --hue: var(--hue-wrong);
  }
  
  .container {
    width: 800px;
    max-width: 80%;
    background-color: #43BF7D;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    grid-area: grd-quiz;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
  }
  
  .btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
  }
  
  .btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
    margin: 5px;
  }
  
  .btn:hover {
    border-style: solid;
    border-width: 1px;
    border-color: black;
  }
  
  .btn.correct {
    --hue: var(--hue-correct);
    color: black;
  }
  
  .btn.wrong {
    --hue: var(--hue-wrong);
  }
  
  .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
  }
  
  .controls {
    
  }
  
  .hide {
    display: none;

  }
  .item {
  }
  .start-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    grid-column: 5    / 7;
    grid-row: auto;
  }
  .tip-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
  }
  .wrapper {
    display: grid;
    grid-template-areas: 
    '. . .'
    '. grd-quiz .'
    '. . .';
    grid-template-columns: 25%, 50%, 25%;;
    grid-template-rows: 25%, 50%, 25%;
  }


